<h2>Template Driven Form</h2>
<form #userForm="ngForm">
    <!-- ngModel is A directive which adds the Input as a property to the Form -->
    <label for="fname">First Name : </label>
    <input type="text" name="firstName" [(ngModel)]="myUser.firstName" required minlength="6" />
    <br />
    <p *ngIf="
        userForm.controls['firstName']?.invalid &&
        (userForm.controls['firstName']?.touched ||
          userForm.controls['firstName']?.dirty)
      ">
        First Name has to be At least 6 Characters
    </p>
    <label for="lname">Last Name : </label>
    <input type="text" name="lastName" [(ngModel)]="myUser.lastName" required minlength="6" />
    <p *ngIf="
        userForm.controls['lastName']?.invalid &&
        (userForm.controls['lastName']?.touched ||
          userForm.controls['lastName']?.dirty)
      ">
        Last Name has to be At least 6 Characters
    </p>
    <br />
    <label for="email">Email : </label>
    <input type="email" name="email" [(ngModel)]="myUser.email" [disabled]="isEdit" required email />
    <p *ngIf="
        userForm.controls['email']?.invalid &&
        (userForm.controls['email']?.touched || userForm.controls['email']?.dirty)
      ">
        Enter a Valid Email
    </p>
    <br />
    <label for="area">Area Code : </label>
    <input type="text" name="areacode" [(ngModel)]="myUser.areacode" required minlength="4" />
    <br />
    <label for="phone">Phone Number : </label>
    <input type="text" name="phonenumber" [(ngModel)]="myUser.phonenumber" required minlength="10" />
    <br />
    <button type="button" *ngIf="!isEdit" (click)="addUser();userForm.reset()">
        Add User
    </button>
    <button type="button" *ngIf="isEdit" (click)="updateUser()">
        Update User
    </button>
</form>
<hr />

<app-person-template-list [newUsers]="users" (deleteUser)="deleteUserDetails($event)"
    (editUser)="editUserDetails($event)"></app-person-template-list>