<table border="1" class="table">
    <!-- 
        {
            "id": 1,
            "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
            "price": 109.95,
            "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
            "category": "men's clothing",
            "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
            "rating": {
            "rate": 3.9,
            "count": 120
            }
        },
     -->
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
            <th scope="col">Rating</th>
            <th scope="col">Rated by</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of newProducts">
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.category}}</td>
            <td>
                <img [src]="product.image" alt="product image">
            </td>
            <td>
                {{product.rating.rate}}
            </td>
            <td>
                {{product.rating.count}}
            </td>
            <td>
                <button *ngIf="!product.isItemEdit" (click)="product.isItemEdit=true"
                    class="btn btn-primary">Edit</button>
                <button *ngIf="product.isItemEdit" (click)="product.isItemEdit=false"
                    class="btn btn-primary">Update</button>

            </td>
            <td><button (click)="handleDelete(product)" class="btn btn-primary">Delete</button></td>
        </tr>
    </tbody>
</table>