<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of allContacts">
            <td>{{contact.fname}}</td>
            <td>{{contact.lname}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.password}}</td>
            <td>
                <button class="btn btn-warning">Edit Contact</button>
            </td>
            <td>
                <button class="btn btn-danger">Delete Contact</button>
            </td>
        </tr>
    </tbody>
  </table>