<h2>ADD CONTACT</h2>

<div class="row">
    <div class="col-4">
        <form [formGroup]="contactDetils">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First  Name</label>
                <input type="email" class="form-control"  formControlName ="fname">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last  Name </label>
                <input type="email" class="form-control" formControlName ="lname" >
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control"  formControlName ="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName ="password">
            </div>
           
            <button type="button" class="btn btn-primary" (click)="addContact()">Submit</button>
          </form>
    </div>
    <div class="col-8">
        <app-contact-details [allContacts]="contacts"></app-contact-details>
    </div>
</div>