<p>user works!</p>

<form #userForm="ngForm">
  <!-- ngModel is A directive which adds the Input as a property to the Form -->
  <label for="fname">First Name : </label>
  <input type="text" name="firstName" [(ngModel)]="myUser.firstName" /> <br />
  <label for="lname">Last Name : </label>
  <input type="text" name="lastName" [(ngModel)]="myUser.lastName" /> <br />
  <label for="email">Email : </label>
  <input type="text" name="email" [(ngModel)]="myUser.email" [disabled]="isEdit" /> <br />

  <button type="button" *ngIf="!isEdit" (click)="addUser()">Add User</button>
  <button type="button" *ngIf="isEdit" (click)="updateUser()">Update User</button>
</form>

<hr />
<app-allusers
  [newUsers]="users"
  (deleteUser)="deleteUserDetails($event)"
  (editUser)="editUserDetails($event)"
></app-allusers>
