<form>
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="fname" aria-describedby="emailHelp" placeholder="Enter your first name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="lname" aria-describedby="emailHelp" placeholder="Enter your last name">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="email" placeholder="Enter your email id">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Enter your Password">
      </div>
    
    <button type="button" class="btn btn-primary">Register</button>
</form>
