<form #studentForm="ngForm">
  <label for="fname">First Name : </label>
  <input type="text" name="fname" [(ngModel)]="studentDetails.fname" required />
  <br />
  <label for="fname">Last Name : </label>
  <input type="text" name="lname" [(ngModel)]="studentDetails.lname" required />
  <br />
  <label for="fname">Email : </label>
  <input type="text" name="email" [(ngModel)]="studentDetails.email" required />
  <br />
  <label for="fname">Password : </label>
  <input
    type="text"
    name="password"
    [(ngModel)]="studentDetails.password"
    required
  />
  <br />
  <label for="fname">Confirm Password : </label>
  <input
    type="text"
    name="confirmPassword"
    [(ngModel)]="studentDetails.confirmPassword"
    required
  />
  <br />

  <button
    type="button"
    (click)="registerStudent()"
    [disabled]="!studentForm.valid"
    *ngIf="!isEdit"
  >
    Register Student
  </button>
  <button *ngIf="isEdit" (click)="udpateStudentDetails();studentForm.reset()">Update Student</button>
</form>

<hr />
<app-studentlist
  [allStudents]="students"
  (handleDelete)="deleteStudentDetails($event)"
  (handleEdit)="editStudentDetails($event)"
></app-studentlist>
