<form [formGroup]="formName">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="email" class="form-control" formControlName="fname" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last Name </label>
    <input type="email" class="form-control" formControlName="lname" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="email" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" formControlName="id" hidden />
  </div>
  <button
    type="button"
    *ngIf="!isEdit"
    class="btn btn-primary"
    (click)="addContact()"
  >
    Submit
  </button>
  <button
    type="button"
    *ngIf="isEdit"
    class="btn btn-primary"
    (click)="updateContact()"
  >
    Update Contact
  </button>
</form>
