<form [formGroup]="employeeDetails">
  <label for="fname">First Name : </label>
  <input type="text" formControlName="fname" /> 
  <p style="color:red" *ngIf="validateUserField('fname')">First name should have atleast 6 characters</p>
  <br />
  <label for="fname">Last Name : </label>
  <input type="text" formControlName="lname" /> <br />
  <label for="fname">Email : </label>
  <input type="text" formControlName="email" /> <br />
  <button type="button" (click)="addEmployee()" [disabled]="!employeeDetails.valid">Add Employee</button>
</form>
<hr>
<p>{{employeeDetails.valid}}</p>
<!-- <app-employeelist [employeeDetails]="employees"></app-employeelist> -->