<p>product works!</p>
<form #productForm="ngForm">
    <label for="fname">Title : </label>
    <input type="text" name="title" [(ngModel)]="productDetails.title" required />
    <br />
    <label for="fname">Price : </label>
    <input type="text" name="price" [(ngModel)]="productDetails.price" required />
    <br />
    <label for="fname">Description : </label>
    <input type="text" name="description" [(ngModel)]="productDetails.description" required />
    <br />
    <label for="fname">Category : </label>
    <input type="text" name="category" [(ngModel)]="productDetails.category" required />
    <br />

    <label for="fname">Image : </label>
    <input type="image" name="image" [(ngModel)]="productDetails.image" required />
    <br />

    <label for="fname">Rating : </label><br>
    <label for="fname">Rate : </label>
    <input type="text" name="rate" [(ngModel)]="productDetails.rating.rate" required />
    <br />
    <label for="fname">Count : </label>
    <input type="text" name="count" [(ngModel)]="productDetails.rating.count" required />
    <br />

    <button type="button" (click)="createProduct()" [disabled]="!productForm.valid" *ngIf="!isEdit">
        Add Product
    </button>
    <button *ngIf="isEdit" (click)="udpateProductDetails();productForm.reset()">Update Product</button>
</form>

<hr />
<app-productlist   [allProducts]="products"
(handleDelete)="deleteProductDetails($event)"
(handleEdit)="editProductDetails($event)">  
</app-productlist>