<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email </th>
            <th>Area Code</th>
            <th>Phone Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor = "let usr of  newUsers">
            <td>{{usr.firstName}}</td>
            <td>{{usr.lastName}}</td>
            <td>{{usr.email}}</td>
            <td>{{usr.areacode}}</td>
            <td>{{usr.phonenumber}}</td>
            <td>
                <button (click)="handleEdit(usr)">Edit User</button>
            </td>
            <td>
                <button (click)="handleDelete(usr)">Delete User</button>
            </td>
        </tr>
    </tbody>
</table>